body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #333; /* Dark gray for better readability */
    background-color: #f8f8f8; /* Light gray background */
}
.container {
    max-width: 990px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.highlight {
    color: #6CC24A; /* Red highlight for key text */
}

.highlight2 {
    color: #F56721;
    /* Red highlight for key text */
}
.terms-content {
    margin-bottom: 20px;
}
.terms-content p {
    margin-bottom: 10px;
}
.footer {
    text-align: center;
    color: #777; /* Grayed out footer text */
    font-size: 14px;
}
a {
    color: #007bff; /* Blue link color */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}